<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eden.elasticsearchsync.persistence.mysql.mapper.EsSyncMapper">

    <select id="selectUpdatedData" resultType="java.util.Map">
        select distinct ${uniqueColumnName},
                        ${updateColumnName}
        from ${tableName}
        where ${updateColumnName} >= #{updateTimeStart}
        order by ${updateColumnName} asc
            limit #{maxSize}
    </select>

    <select id="selectUpdatedDataPrimaryKey" resultType="java.lang.Long">
        select distinct ${primaryKeyColumnName}
        from ${tableName}
        where ${updateColumnName} >= #{updateTimeStart}
          and ${updateColumnName} <![CDATA[ < ]]> #{updateTimeEnd}
          and ${primaryKeyColumnName} > #{latestMaxPrimaryKey}
        order by ${primaryKeyColumnName} asc
            limit #{maxSize}
    </select>

    <select id="selectUniqueKeyByPrimaryKey" resultType="java.util.Map">
        select distinct ${uniqueColumnName}, ${updateColumnName}
        from ${tableName}
        where ${primaryKeyColumnName} in
        <foreach collection="primaryKeyValues" item="primaryKeyValueItem" index="index" open="(" close=")"
                 separator=",">
            #{primaryKeyValueItem}
        </foreach>
        limit #{maxSize}
    </select>

    <select id="selectUserInfoByUserId" resultType="com.eden.elasticsearchsync.persistence.es.dao.po.UserInfo">
        select *
        from user
        where userId = #{userId}
    </select>

    <select id="selectUserExtendByUserId"
            resultType="com.eden.elasticsearchsync.persistence.es.dao.po.UserExtend">
        select *
        from user_extend
        where userId = #{userId}
    </select>

    <select id="selectUserOperationLogByUserId"
            resultType="com.eden.elasticsearchsync.persistence.es.dao.po.UserOperationLog">
        select *
        from user_operation_log
        where userId = #{userId}
    </select>


</mapper>